.env*
.eslintcache
.idea
.tmp
.netlify
.nyc_output
build/crawl/localhost:3000
build/crawl/wget.log
build/crawl/wget.rejected.log
coverage
config.js
dist
dll-manifest.json
dll.bundle.js
errorShots
file-asset-overlay
node_modules
npm-debug.log*
plato-report/*
!plato-report/report.history.json
search-index
stats.json
webpack-assets.json
webpack-manifest.json
worklog.txt
npmhash.json
yarnhash.json
yarn-error.log
wdio.generated.conf
backstop_data/*
/Session.vim
/.tern-port
/.stylelintcache
data/*
