<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content="A nice list of places I can stream items in my queue from. Get outta here."
    />
    <meta name="robots" content="noindex, nofollow" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
    <!-- data-base="<%= process.env.NODE_ENV === 'production' ? '/queue/dist/' : '/' %>" -->
  </body>
</html>
